<div>
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-lg-9 mx-auto text-center">
        <h4>AGENDA TU CITA</h4>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-lg-3 mx-auto my-8">
        <label for="daySelect">Selecciona un día:</label>
        <select
          id="daySelect"
          class="form-control"
          [(ngModel)]="selectedDay"
          (change)="onDaySelectChange()"
        >
          <option *ngFor="let item of itemsSelect" [value]="item">
            {{ item.toString()| uppercase }}
          </option>
        </select>
      </div>
      <div class="col-lg-3 mx-auto my-8">
        Citas Disponible : {{dayAvailable}}
      </div>
      <div class="row my-2">
        <div class="col-lg-9 mx-auto my-8">
          <div class="card">
            <div class="card-body">
              <full-calendar
                #calendar
                [options]="calendarOptions"
              ></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
